/* 编写默认样式 */
html,
body,
div,
ul,
li,
p,
span,
h1,
button {
	padding: 0;
	margin: 0;
	font-family: "microsoft yahei";
}

/* 引入字体 */
@font-face {
	font-family: "ldr";
	src: url("../fonts/Let's go Digital Regular.ttf");
}

/* 定义5列栅格 */
@media (min-width: 992px) {
	.col-md-2-5 {
		width: 20%;
		float: left;
	}
}

a {
	text-decoration: none;
}

ul {
	font-size: 0;
}

ul li {
	list-style: none;
}

.page {
	width: 100%;
	height: 337px;
	min-width: 1316px;
	background-image: url(../img/icon-bg/bg.png);
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 1px;
	padding-bottom: 421px;
}

.container {
	width: 1120px;
	margin: 0 auto;
	box-sizing: border-box;
}

.topNav .title {
	font-size: 21px;
	font-weight: bold;
	overflow: hidden;
}

.top-left img {
	vertical-align: middle;
}

.top-right {
	width: 378px;
	margin-top: -60px;
	margin-right: 248px;
	margin-left: 742px;
	right: 0;
}

.top-right img {
	vertical-align: middle;
}

.topNav {
	margin-top: 3%;
	color: #fff;
}

.topNav .top-left p {
	display: inline-block;
	margin-bottom: 2px;
}

.topNav .top-left span {
	width: 40%;
	display: inline-block;
	vertical-align: middle;
}

.topNav .py {
	text-transform: uppercase;
	font-size: .8125rem;
}

.navbar-collapse .nav {
	height: 90px;
	margin-top: 45px;
	overflow: hidden;
}

/* 右侧 */
.topNav .top-right .contact {
	display: inline-block;
	vertical-align: middle;
	margin-left: 9px;
}

.topNav .top-right .info {
	display: inline-block;
}

.topNav .top-right .info:first-child {
	margin-right: 55px;
}

/* 列表 */
.navbar a .title {
	color: #fff;
	font-size: 14px;
}

.navbar a .py1 {
	color: #fff;
	opacity: 0.5;
	text-transform: uppercase;
	transform: scale(0.7);
	font-size: 14px;
	margin-left: -31px;
}

.navbar-nav>li {
	padding: 15px 0 0 15px;
	width: 15.3%;
	display: inline-block;
	vertical-align: top;
	border-top: 4px solid rgba(255, 255, 255, 0.2);
}

.navbar .actives {
	border-top: 4px solid #067BFF;
}

.navbar-toggle {
	border-color: #ddd;
	background-color: #ddd;
	opacity: 0.5;
}

.welcome {
	color: #fff;
	margin-top: 40px;
}

.welcome h1 {
	font-size: 60px;
}

.welcome .english {
	text-transform: uppercase;
	font-size: 28px;
	color: rgba(255, 255, 255, 0.72);
	text-shadow: 0 4px 6px rgba(0, 9, 38, 0.66);
	height: 40px;
	overflow: hidden;
}

.welcome .btn {
	width: 171px;
	height: 48px;
	background-color: #fff;
	text-align: center;
	line-height: 48px;
	border-radius: 39px;
	margin-top: 36px;
}

.project-list {
	min-width: 1316px;
}

.project-list .col-md-2 a {
	text-decoration: none;
}

.welcome .btn a {
	font-size: 16px;
	color: #1B274D;
	font-weight: bold;
	text-decoration: none;
	margin-top: 34px;
}

.project-list {
	height: 218px;
}

.project-list .col-sm-2 {
	padding: 0;
	display: inline-block;
}

.mover .col-sm-2 {
	padding-bottom: 22px;
}

.mouse .col-sm-2,
.mover .col-sm-2 {
	width: 19.6%;
}

.project-list .col-sm-2 img {
	width: 90px;
	height: 62px;
	display: block;
	margin: 0 auto;
	margin-top: 46px;
	margin-bottom: 24px;

}

.mover .col-sm-2 strong {
	width: 100px;
	font-size: 16px;
	color: #1749A6;
	margin-left: 33%;
	display: inline-block;
}

.project-list .col-sm-2 p {
	width: 277px;
	font-size: 8px;
	text-transform: uppercase;
	transform: scale(0.6);
	color: #A4B8C2;
	line-height: 35px;
}

.project-list .mover {
	margin: 0;
	background: #fff;
	box-shadow: 0 15px 18px 0 rgba(0, 0, 0, 0.12);
	border-radius: 8px;

}

.project-list .col-sm-2 .line {
	height: 70px;
	display: inline-block;
	border-right: 4px solid #e3e8eb;
	position: absolute;
	margin-top: -119px;
}

.project-list .mover {
	margin-top: -221px;
}

.project-list .mouse .col-sm-2 {
	width: 230px;
	background-color: #067BFF;
	border-radius: 8px;
	text-align: center;
	margin-top: -110%;
	display: none;
	top: -141px;
}

.mover .pro1 strong {
	margin-left: 33%;
}

.mover .pro2 strong {
	margin-left: 36%;
}

.mover .pro3 strong {
	margin-left: 35%;
}

.mover .pro4 strong {
	margin-left: 29%;
}

.mover .pro5 strong {
	margin-left: 37%;
}

.mouse .pro2-a {
	margin-left: 222px !important;

}

.mouse .pro3-a {
	margin-left: 445px !important;
}

.mouse .pro4-a {
	margin-left: 670px;
}

.mouse .pro5-a {
	margin-left: 897px;
}

.pro2-a,
.pro3-a,
.pro4-a,
.pro5-a {
	margin-top: -252px !important;
}

.project-list .mouse strong,
.project-list .mouse p {
	color: #fff;
}

.project-list .mouse strong {
	margin-left: 0;
	width: 164px;
	font-size: 22px;
}

.project-list .mouse p {
	font-size: 19px;
	margin-left: -26px;
	line-height: 31px;
	margin-bottom: 0;

}

.project-list .mouse p:first-child {
	margin-top: 5px;
}

.project-list .mouse p:last-child {
	margin-left: -29px;
}

#p1,
#p2,
#p3,
#p4,
#p5 {
	background-color: #067BFF;
	border-radius: 8px;
	text-align: center;
	padding-top: 1px;
}

#p1 {
	padding-bottom: 17px;
}

#p2 {
	padding-bottom: 30px;
}

#p3 {
	padding-bottom: 17px;
}

#p4 {
	padding-bottom: 59px;
}

#p5 {
	padding-bottom: 33px;
}

/* 项目展示 */
.project-pre {
	position: relative;
	height: 385px;
	min-width: 1316px;
	background-image: url(../img/icon-bg/img_1@2x.png);
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 140px;
	width: 100%;
}

.project-pre .pre-top {
	height: 128px;
	overflow: hidden;
}

.project-pre .pre-top h1 {
	position: absolute;
	font-size: 120px;
	color: #F2F3F5;
	margin-left: 0%;
	margin-top: -31px;
	z-index: -1;
}

.project-pre .pre-top .title {
	text-align: center;
	font-size: 36px;
	color: #1B274D;
	font-weight: bold;
	margin-top: 2.5%;
	margin-left: -13%;
}

/* 项目展示列表 */
.project-pre-list {
	margin-top: 74px;
}

.project-pre-list .col-sm-2-5 {
	border: 2px solid #EFEFEF;
	border-collapse: collapse;
	display: inline-block;
	margin-top: -2px;
	margin-left: -8px;
	height: 130px;
	width: 19.8%;
	font-weight: bold;

}

.project-pre-list .col-sm-2-5 p {
	font-size: .75rem;
	margin-top: 20px;
}

.project-pre-list .col-sm-2-5 .line {
	width: 9%;
	border-top: 1px solid #bcbcbc;
	margin-top: .8125rem;
	margin-bottom: .5625rem;
}

.project-pre-list .col-sm-2-5 strong {
	font-size: 18px;
	line-height: 32px;
}

.project-pre-list .col-sm-2-5 .eng {
	font-size: 12px;
	text-transform: uppercase;
	color: #333;
}

.project-pre-list .col-sm-2-5>p,
.col-sm-2-5>.line,
.col-sm-2-5>.eng,
.col-sm-2-5>strong {
	margin-left: 20px;
}

.project-pre-list .project-active,
.project-pre-list .project-active .eng {
	background: #06254F;
	color: #fff;
	border-top: 1px solid #06254F;
}

/* 图片展示 */
#pictures {
	border-radius: 7px;
	margin-top: 48px;
	box-shadow: 0 15px 18px 0 rgba(0, 0, 0, 0.12);
}

.picture .picture-left {
	width: 468px;
	height: 100%;
	background-color: #000;
	border-top-left-radius: .625rem;
	border-bottom-left-radius: .625rem;
	overflow: hidden;
}

.picture-left .img img {
	position: absolute;
	top: 35%;
	left: 10%;

}


/* right */
#imgdiv {
	margin-left: 15px;
	margin-top: -27px;
}

#imgdiv img {
	width: 197px;
	height: 144px;
	border-radius: 5px !important;
	margin: 15px !important;
}

.modal {
	width: 1120px;
	height: 721px;
	background-color: rgba(88, 88, 88, 0.4);
	position: absolute;
	display: none;
	top: 1535px;
	border-radius: 11px;
	left: 273px;
}

.modal img {
	position: absolute;
	width: 576px;
	height: 432px;
	border-radius: 5px;
	left: 25%;
	top: 20%;
	z-index: 9999;
}

.picture {
	position: relative;
	height: 720px;
	display: none;
}

.picture-active {
	display: block;
}

.picture .picture-left .bgi {
	height: 718px;
	opacity: .5;
}

.picture:nth-child(2) .bgi {
	margin-left: -228px;
}

.picture:nth-child(5) .bgi {
	width: 442px;
}

.picture .picture-right {
	position: absolute;
	width: 45.125rem;
	height: 100%;
	top: 0;
	right: 0;
	background-image: url(../img/icon-bg/img_2.png);
	background-size: cover;
	background-repeat: no-repeat;
	border-top-right-radius: .625rem;
	border-bottom-right-radius: .625rem;
}

.picture-right .p-title {
	font-size: 23px;
	font-weight: bold;
	margin-top: 3.4375rem;
}

.picture-right .p-line {
	width: 7%;
	border: 1.5px solid #bcbcbc;
	margin: 10px 0 10px 30px;
}

.picture-right .p-eng {
	color: #999;
	font-size: .875rem;
	text-transform: uppercase;
	margin-bottom: 40px;
	font-weight: bold;
}

.picture-right .p-title,
.p-eng {
	margin-left: 1.875rem;
}


/* 企业介绍 */
.introduce {
	position: relative;
	width: 100%;
	height: 100%;
	color: #fff;
	min-width: 1316px;
	background-color: #06254f;
	background-image: url(../img/icon-bg/img_3.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom center;
	margin-top: 4%;
	padding-top: 4%;
}

.introduce .introduce-top {
	padding: 3.125rem 0 5.125rem 0;
}

.introduce-top .introduce-tl h1 {
	position: absolute;
	margin-top: -13px;
	font-size: 33px;
	font-weight: bolder;
}

.introduce-top .introduce-tl strong {
	height: 0;
	color: #0d3876;
	font-size: 106px;
	float: left;
	margin-top: -6%;

}

.introduce-top .introduce-tl p {
	width: 46%;
	height: 221px;
	margin-top: 5.125rem;
	padding-top: 75px;
	font-size: 16px;
	line-height: 28px;
	overflow: hidden;
}

.introduce-top .introduce-tl img {
	width: 51%;
	height: 350px;
	float: right;
	margin-right: -21px;
	margin-top: -368px;
}

.introduce-mid {
	width: 71%;
	background-color: #d2ad5f;
	padding: 30px;
	margin-top: -100px;
}

.introduce-mid h1 {
	font-size: 30px;
	margin: 0;
	font-weight: bold;
	margin-bottom: 1rem;

}

.introduce-mid p {
	line-height: 172%;
	font-size: 16px;
}

.introduce-bottom {
	padding: 39px 0;
	padding-top: 50px;
}

.introduce-bottom .col-xs-12 {
	width: 24% !important;
	display: inline-block;
}

.introduce-bottom .fh {
	font-family: "ldr";
	font-size: 54px;
}

.introduce-bottom li {
	width: 24%;
	height: 60px;
	display: inline-block;
	border-right: 1px solid #97abd2;
}

.introduce-bottom li:last-child {
	border: 0;
}

.introduce-bottom .col-md-3 .col-xs-12 .col-sm-6 {
	border-right: 1px solid #eee;
	width: 21%;
	height: 50px;
	vertical-align: middle;
	margin-left: 37px;
}

.introduce-bottom .col-xs-12>img,
.col-sm-6>img {
	opacity: 0.4;
	width: 28px;
	margin-bottom: 10px;
}

.introduce-bottom .col-xs-12>p,
.col-sm-6>p {
	font-size: 9px;
	opacity: 0.4;
}

.introduce .introduce-bottom li>img,
li>p {
	margin-left: 39px;
}

.introduce-bottom .ibl {
	height: 50px;
	border-left: 1px solid #fff;
	display: inline-block;
	opacity: 0.1;
	float: right;
	margin-top: -73px;
	margin-right: 51px;
}

.introduce-bottom .num {
	font-family: "ldr";
	font-size: 94px;
	margin-top: -77px;
	margin-left: 31%;
}

/* 管理架构 */
.manage {
	position: relative;
	height: 656px;
	margin-top: 5.25rem;
}

.manage h1 {
	text-transform: uppercase;
	color: #F2F3F5;
	font-size: 120px;
	font-weight: bold;
	margin-left: -85px;
	z-index: -1;
}

.manage .m-title {
	position: absolute;
	color: #1B274D;
	font-size: 36px;
	margin-top: -6.625rem;
	margin-left: 28.7rem;

}

/* swiper */
.swiper-container {
	width: 66.5%;
	height: 327px;
	top: 28%;
	margin-right: 53px !important;
	margin-top: -12%;
}

.swiper-wrapper {
	width: 103% !important;
}

.swiper-slide {
	width: 32.5% !important;
	display: inline-block;
	text-align: center;
	font-size: 18px;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	width: 88%;
	height: 327px;
}

.swiper-button-next,
.swiper-button-prev {
	top: 55% !important;
	margin-left: -12px;
}

.swiper-button-prev {
	left: 351px !important;
	margin-top: 200px !important;
}

.swiper-line {
	width: 88%;
	margin: 2% 0;
	border-top: 2px solid #fff !important;
	opacity: 0.3;
}

.rank {
	position: absolute;
	width: 80.3%;
	opacity: 0.86;
	color: #fff;
	background: #02306E;
	padding: 4px 0 5px 20px;
	bottom: 0;
	margin-top: 113%;
}

.rank span {
	display: block;
	text-align: left;
}

.rank .mz {
	font-size: 20px;
	font-weight: bold;
}

.rank .zw {
	font-size: 14px;
	opacity: 0.8;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
	content: '' !important;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
	content: '' !important;
}

.swiper-button-next {
	left: 402px !important;
	margin-top: 200px !important;
}

.swiper-container .jianbian {
	width: 73px;
	height: 327px;
	position: absolute;
	right: -9px;
	margin-top: -327px;
	background-image: linear-gradient(to right, #ffffff48, rgba(255, 255, 255, 0.527), rgba(255, 255, 255, 0.829), rgba(255, 255, 255, 0.918));
	z-index: 9999;
}

.swiper-button-next,
.swiper-button-prev:focus {
	outline: none;
}

.m-bg {
	/* position: relative; */
	height: 328px;
	min-width: 1316px;
	margin-top: -22rem;
	background-color: #f2f3f5;
	/* z-index: -1; */
}

.bg-img {
	width: 50%;
	height: 328px;
	margin-top: -57px;
	margin-left: -273px;
}

/* 集团子公司 */
.subsidiary {
	width: 100%;
	min-width: 1316px;
	margin-top: 147px;
	padding-bottom: 50px;

}

.subsidiary li span {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
}

.subsidiary .s-title {

	width: 184px;

	/* text-align: right; */
	font-weight: bold;
	color: #1B274D;
	font-size: 36px;
	margin-left: 517px;
	display: inline-block;
	position: absolute;
	margin-top: 55px;


}

.subsidiary .s-bgt {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 120px;
	color: #F2F3F5;
	margin-top: -104px;
}

.subsidiary ul {
	margin-left: 112px;
	width: 80%;
}

.subsidiary li {
	width: 326px;
	line-height: 32px;
	display: inline-block;
	margin-right: 12px;
}

.subsidiary li img {
	width: 5%;
	margin-top: -10px;
	margin-right: 10px;
	vertical-align: middle;
}

.subsidiary .s-bg {
	position: absolute;
	margin-top: -255px;
	margin-left: 658px;
	height: 290px;
	z-index: -1;
}

/* 底部 */
footer {
	position: relative;
	min-width: 1316px;
	bottom: 0;
	height: 261px;
	background-color: #031429;
	color: #fff;
	padding-top: 50px;

}

footer .cal {
	font-size: 29px;
}

footer .line {
	border: 1px solid #1f2d3c;
	/* box-shadow: 1px 2px 3px 0px black; */
	margin: 1.875rem 0;
}

footer p {
	font-weight: normal !important;
	font-size: 17px;
	line-height: 4.0625rem;
}

footer p img {
	margin-right: .625rem;
	vertical-align: middle;
}

footer .tal span {
	width: 9%;
	display: inline-block;
	text-align: justify;
	text-align-last: justify
}

footer .right {
	position: relative;
	right: 77px;
	float: right;
}

footer .right span {
	font-size: 108px;
	opacity: 0.1;
	font-weight: bold;
	display: inline-block;
	margin-top: -97px;
	margin-right: -80px;
}

footer .right strong {
	width: 65px;
	right: -80px;
	margin-top: -41px;
	position: absolute;
}

footer .right img {
	position: absolute;
	width: 50px;
	right: 0px;
	margin-top: -55px;

}

footer .right p {
	font-size: 12px;
	padding-top: 38px;
	position: absolute;
	margin-top: -127px;
	right: -105px;
	transform: scale(0.6);

}
